body{
  margin: 0;
}

.container {
  text-align:center;
  width:60%;
  height:100%;
  margin:0 auto;
}

#logo {
  width: 300px;
}

h2 { color: #111; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: .5; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
}

.buttons{
  overflow: hidden;

}

input {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

input:focus {
  outline:none;
}
input[type=submit] {
  padding:5px 15px; 
  background:#ccc; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

input[type=submit]:hover {
  background: grey;
}

.results{
  visibility: hidden;
}

#labelsContainer {
  display: block;
  width: 100%;
  padding-bottom: 20px;
}

#foodLabel1, #foodLabel2{ 
  width: 50%;
  vertical-align: top;
  display: inline-block;
  font-family: 'Helvetica Neue', sans-serif; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
}

#favorite, #favorite2{ 
  width: 50%;
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 2px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica Neue', sans-serif; 
  outline: none;
  padding: 5px 5px;
}

#favorite:hover, #favorite2:hover {
  background: #ccc;
}

#pictureLeft, #pictureRight {
  width: 50%;
}

ul{
  text-align:left;
  list-style-position: inside;
}


#ingredienctsSpan, #ingredienctsSpan2 {
  height: 100%;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}