body{
  margin: 0;
}

.container {
  text-align:center;
  width:60%;
  height:100%;
  margin:0 auto;
}


h2 { color: #111; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: .5; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
}

.buttons{
  overflow: hidden;
}

input {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

input:focus {
  outline:none;
}

#search {
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

#search:hover {
  background: #ccc;
}

#heart, #heart2 {
  background: transparent;
  border: none;
  cursor: pointer;
  color: red;
}

ul{
  text-align:left;
}

img{
  width: auto;
  height: auto;
}

.results{
  visibility: hidden;
}

#labelsContainer {
  display: block;
  width: 100%;
  padding-bottom: 20px;
}

#foodLabel{
  
  width: 50%;
  vertical-align: top;
  display: inline-block;
  font-family: 'Helvetica Neue', sans-serif; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
}

#foodLabel2{
  width: 50%;
  vertical-align: top;
  display: inline-block;
  font-family: 'Helvetica Neue', sans-serif; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
}

#imgSpan{
  width: 50%;
  min-width: 50%;
}

#imgSpan2{
  width: 50%;
  min-width: 50%;
}

#picture, #picture2 {
  width: 50%;
}

#ingredientsContainer {
  width: 100%;
  height: 200px;
}

#ingredienctsSpan {
  height: 100%;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

#ingredienctsSpan2 {
  height: 100%;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}